a.Button,
button
  border-radius: 4px
  display: inline-block
  margin: 0
  transition: background .3s
  padding: .5em 1.25em .25em
  
  &--cta
    background-color: $link-color
    color: $lightest
    padding: 1em 2em
    &:hover
      background-color: $orange
  
  &:focus
    outline: none
