/*
 *  Colors
 */
$lightest   = #f7f7f7
$light      = #eaeaea
$blue       = #009efd
$light-blue = #a5cbc3
$green      = #2af598
$brown      = #736b60


$link-color = #1d8585
$link-hover = #4C5760
// named colors
$main-background = $light


/*
 *  Breakpoints
 */
 $small     = 550px
 $medium    = 820px
 $large     = 1200px



$sans-serif = 'Varela Round', sans-serif
$serif      = 'Libre Baskerville', serif

/*
 *  Typography taken from YetiCSS / https://github.com/andyet/yeti.css
 */
 
//- Spacing
$space                   ?= 30px   
$ui-padding-extra-spaced ?= $space       
$ui-padding-spaced       ?= $space/2
$ui-padding-default      ?= $space/3
$ui-padding-narrow       ?= $space/6

//- Heading Sizes

$font-h1 ?= 72px
$font-h2 ?= 36px
$font-h3 ?= 30px
$font-h4 ?= 24px
$font-h5 ?= 18px
$font-h6 ?= 16px

$mobile-font-h1 ?= 38px
$mobile-font-h2 ?= 32px
$mobile-font-h3 ?= 26px
$mobile-font-h4 ?= 20px
$mobile-font-h5 ?= 16px
$mobile-font-h6 ?= 14px

//- Font Weights

$font-weight-light   ?= 300
$font-weight-regular ?= 400
$font-weight-medium  ?= 500
$font-weight-bold    ?= 800

//- Line Heights

$line-height-base    ?= 1.5
$line-height-heading ?= 1.25
